.event-table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;        
  margin-top: 20px;
}

.event-table {
  width: 80%;                
//   max-width: 800px;         
  min-width: 500px;          
  margin: 0 auto;            
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);

  thead {
    background: #f3f4f6;

    th {
      padding: 12px 14px;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #eee;

      &:hover {
        background: #fafafa;
      }

      td {
        padding: 12px 14px;
        font-size: 14px;
      }
    }
  }
}

.action-col {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.action-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.edit {
    background: #e7f1ff;
    color: #007bff;
  }

  &.delete {
    background: #ffe6e6;
    color: #d9534f;
  }
}
