<header class="navbar">
  <!-- Logo -->
  <div class="logo">
    <img src="/assets/images/logo.png" alt="AroundMe Logo" />
    <h2>Aroud<span>Me</span></h2>
  </div>

  <!-- Navigation -->
  <nav class="nav-links">
    @for (item of menuItems; track $index) {
    <a [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ item.label
      }}</a>
    }
  </nav>

  <!-- Right Actions -->
  <div class="auth-buttons">
    <a routerLink="/add-event" class="create-event">Create Event</a>
    <a (click)="logout()" class="login">{{isLoggedIn?'Logout':'Login'}}</a>
    @if (!isLoggedIn) {
    <a routerLink="/register" class="signup">Sign Up</a>
    }@else {
    @if (profileImage) {
    <!-- Show Profile Image -->
    <img [src]="profileImage" alt="Profile" class="nav-profile-img" routerLink="/profile"/>
    } @else {
    <!-- Show Icon -->
    <fa-icon [icon]="faProfile" size="lg" class="nav-profile-icon" routerLink="/profile"></fa-icon>
    }
    }

  </div>
</header>